{% extends 'base.html.twig' %}

{% block title %}About
{% endblock %}

{% block body %}

    <h1>Qui sommes nous?</h1>

	<div class="afac974">

        <img src="../build/images/logo_groupe.711a8543.png" alt="logo-hexagon" width="100" height="100">

        <p>L'association:</p></br>
        <p>L'Association des Familles et Amies de Capeline 974.</p><br/>

        <p>Objectifs:</p><br/>

        <p>
            <ul>
                <li>Soutenir les élèves dans leur apprentissage du savoir;</li>
                <li>Créer et maintenir les liens interggénérationnels et familiales;</li>
                <li>Valoriser et faire connaître le patrimoine de l'Île de la Réunion;</li>
                <li>Lutter contre la fracture numérique</li>
            </ul>
        </p><br/>

        <p>Engagements:</p><br/>
        <p>L'association intervient auprès des collectivités, des établissements scolaires, des entreprises ou des associations.
        Elle participe également à des évènements comme les journées du Patrimoine.</p>

    </div>

    <div class="presidente">
        <img src="../build/images/dominique_groupe.98499609.png" alt="logo-hexagon" width="100">

        <p>Présidente: Dominique VANDANJON</p><br/>

        <p>Après plus d'une trentaine d'années dans l'enseignement secondaire, où j'ai pu assurer des formations
        déstinées à différent public (professeurs des écoles, étudiants).<br/>

        Aujourd'hui, je mets à profit le temps de la retraite pour apporter ma contribution à:</br />

        <ul>
            <li>La formation d'étudiants candidats aux concours scientifiques (BCPST), agro-véto, au Lycée Roland Garros.</li>
            <li>La formation en histoire pour les candidats aux Diplôme d'Accès aux Etudes Universitaires (DAEU) organisé par la Service de Formation Tout au Long de la Vie (DFTLV),au sein de l'Université de la Réunion.</li>
            <li>J'interviens sur le campus du sud de l'île de La Réunion, au Tampon.</li>
            <li>Je participe également à des projets de soutien au niveau local, ou des collectivitéés territoriales, pour des jeunes, en lien avec les préoccupations de développement durable et de cohésion sociale.</li>
        </ul>
        </p>
    </div>

{% endblock %}
