{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}

	<div class="BgPage">
		<br><br>

		<div class="contenu_carou_auto">
			<div class="caroussel-image">
				<img src="build/images/FRAD974_2FI34.3.febd6b25.jpg" alt>
				<img src="build/images/FRAD974_2FI34.30.419cff3c.jpg" alt>
				<img src="build/images/FRAD974_2FI50.6.ca6ce5e4.jpg" alt>
				<img src="build/images/FRAD974_40FI90.11418c17.jpg" alt>
				<img src="build/images/FRAD974_40FI91.da9cf76f.jpg" alt>
				<img src="build/images/FRAD974_40FI92.b242d530.jpg" alt>
				<img src="build/images/FRAD974_40FI98.1266c291.jpg" alt>
				<img src="build/images/MORTIERdeTREVISE_caffrine1861.c2ec0a6f.jpg." alt>
			</div>
		</div>

		<br><br>

		<div class="TitlePage">
			<h1>AFAC 974<span>L'association</span>
			</h1>
		</div>

		<section>
			<figure class="text-center">
				<blockquote class="blockquote">
					<section class="paragraphe">
						<p>Bienvenue dans notre galerie d'art où les oeuvres prennent vie, les formes s'entrelacent et les émotions se révèlent</p>
					</section>
				</blockquote>
				<figcaption class="blockquote-footer">
					<cite title="Source Title">LVEJ</cite>
				</figcaption>
			</figure>

		</div>
	{% endblock %}
