{% extends 'base.html.twig' %}

{% block title %}Créer votre compte
{% endblock %}


{% block body %}
	<h3>Créez votre compte</h3>

	<div class="form">
		{{ include('registration/_form.html.twig', {'button_label': 'Submit'}) }}
	</div>
{% endblock %}
