<footer>
	<div class="footer-grid">
		<div class="copyrights">
			<img src="{{ asset('build/images/copyright.b1bb85f6.png') }}" alt="logo" width="40" class="space">
			<br>
			<p class="space">AFAC 974</p>
		</div>
		<div class="social_media">
			<a href="https://www.facebook.com/pedagolab" target="_blank"><img src="{{ asset('build/images/facebook.5421ab99.png') }}" alt="facebook_icon" width="40" class="space items"></a>
			<a href="https://www.linkedin.com/in/dominique-vandanjon-aa319614a" target="_blank"><img src="{{ asset('build/images/linkedin_logo.8d5123e0.png') }}" alt="linkedin_icon" width="40" class="space items"></a>
		</div>
		<div class="legal">
			<p class="space">Mentions légales</p>
		</div>
	</div>
	<p id="property">Les images des oeuvres présentées sur le site sont la propriété du Département de La Réunion, Iconothèque historique de l'océan Indien et Archives départementales de La Réunion.</p>
</footer>
