<footer class="footer-grid">
	<div class="copyrights">
		<img src="../build/images/copyright.b1bb85f6.png" alt="logo" width="40" class="space">
		<br>
		<p class="space">AFAC 974</p>
	</div>
	<div class="social_media">
		<a href="https://www.facebook.com/pedagolab" target="_blank"><img src="../build/images/facebook.7ef2feb8.png" alt="facebook_icon" width="40" class="space items"></a>
		<a href="https://www.linkedin.com/in/dominique-vandanjon-aa319614a" target="_blank"><img src="../build/images/linkedin_logo_2.2856a80c.png" alt="linkedin_icon" width="40" class="space items"></a>
	</div>
	<div class="legal">
		<p class="space">Mentions légales</p>
	</div>
</footer>
