<footer class="footer-grid">
	<div class="copyrights">
		<img src="../build/images/copyright.1fefca82.png" alt="logo" width="40" class="space">
		<br>
		<br>
		<p class="space">AFAC 974</p>
	</div>
	<div class="social_media">
		<a href="https://ihoi.org/app/photopro.sk/ihoi_icono/" target="_blank"><img src="../build/images/IHOI-logo.e46047f1.png" alt="IHOI_icon" width="200" class="space"></a>
		<a href="https://forgetmenot.objettemoin.org/index.php/fr/" target="_blank"><img src="../build/images/objet_temoin_logo.d2fb90d4.jpg" alt="objet_temoin_icon" width="80" class="space"></a>
		<a href="https://twitter.com/" target="_blank"><img src=" ../build/images/twitter.28b4dce4.png" alt=" twitter_icon" width=" 40" class=" space"></a>
		<a href="https://www.facebook.com/pedagolab" target="_blank"><img src="../build/images/facebook.258f09cc.png" alt="facebook_icon" width="40" class="space"></a>
	</div>
</footer>
