<nav class="navbar navbar-expand-md" data-bs-theme="light">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">
			<img src="../build/images/AFAC974-CG23Offshore_250x99.89a4b1e6.png" alt="logo" class="nav-link" width="100">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor03">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link" href="/gallery">GALERIE</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/about">A PROPOS</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/contact">CONTACT</a>
				</li>
			</ul>
			<form class="d-flex">
				<input class="form-control me-sm-2" type="search" placeholder="Rechercher">
				<button class="btn btn-secondary my-2 my-sm-0" type="submit"><img src="../build/images/icon_search.cc0a4eac.png" class="nav-link" width="40"></button>
			</form>
			<a class="login_logo" href="/login">
				<img src="../build/images/utilisateur.e5d9ea28.png" class="nav-link" width="40">
			</a>
		</div>
	</div>
</nav>
