@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@600&display=swap');
@import "~bootswatch/dist/spacelab/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/spacelab/bootswatch";
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@600&display=swap');

$carousel-control-color: black;
$primary:black;
$font-family-base:'Gothic A1', sans-serif;
$primaryTextColor: black;
$secondaryTextColor: #8F0627;

//  Home Page Start //
body {
  background: url('../images/landscape.jpg');
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;

  .BgPage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  }
}

*{box-sizing : border-box}

  .contenu_carou_auto{

  margin:2rem auto;
  width:420px;
  height:279px;
  perspective:8000px
  }
		
  .caroussel-image {
  animation:rotation 24s infinite alternate linear;	
  transform-style:preserve-3d;
  position:relative;	
  }

  .caroussel-image img {
  position: absolute;
  top:0;
  left: 0;
  }
      
  .caroussel-image img { 
  filter:drop-shadow(0 12px 5px hsla(0,0%,0%,.4));
  width: 300px;
  height:366px;
  left:10px;
  outline:1px solid transparent;
  backface-visibility:hidden
  }
      
  .caroussel-image img {
  transform:translate3d(0,0,495px)
  }
      
  .caroussel-image img:nth-child(2) { 
  transform:rotateY(45deg) translateZ(495px)
  }
      
  .caroussel-image img:nth-child(3) {
    transform:rotateY(90deg) translateZ(495px)
  }
    
  .caroussel-image img:nth-child(4) {
    transform:rotateY(135deg) translateZ(495px)
  }
	
  .caroussel-image img:nth-child(5) {
    transform:rotateY(180deg) translateZ(495px)
  }
    
  .caroussel-image img:nth-child(6) {
    transform:rotateY(225deg) translateZ(495px)
  }
	
  .caroussel-image img:nth-child(7) {
    transform:rotateY(270deg) translateZ(495px)
  }
    
  .caroussel-image img:nth-child(8) {
    transform:rotateY(315deg) translateZ(495px)
  }

@keyframes rotation{
from{transform:rotatey(0)}
to{transform:rotatey(0.5turn)}}

.TitlePage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  }

.TitlePage h1 {
  text-align:center; 
  font-size:50px; 
  text-transform:uppercase; 
  color:#222; 
  letter-spacing:1px;
  font-family:"Playfair Display", serif; font-weight:400;
  padding-top: 100px;
  width: 100%;
  }

.TitlePage h1 span {
  margin-top: 5px;
  font-size:15px; color:#444; word-spacing:1px; font-weight:normal; letter-spacing:2px;
  text-transform: uppercase; font-family:"Raleway", sans-serif; font-weight:500;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
  }

  .TitlePage h1 span:after,.TitlePage h1 span:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  height: 5px;
  background-color:#f8f8f8;
  }

  section {
    width: 100%;
  }

@media screen and (max-width: 665px) {
  .contenu_carou_auto{
    margin:2rem auto;
    width:380px;
    height:279px;
    perspective:8000px;
    overflow: hidden;
  }

  .caroussel-image img {
    width: 200px;
    height:266px;
  }
      
  .caroussel-image img {
  transform:translate3d(0,0,450px)
  }
      
  .caroussel-image img:nth-child(2) {
  transform:rotateY(45deg) translateZ(450px)
  }
      
  .caroussel-image img:nth-child(3) {
    transform:rotateY(90deg) translateZ(450px)
  }
    
  .caroussel-image img:nth-child(4) {
    transform:rotateY(135deg) translateZ(450px)
  } 
    
  .caroussel-image img:nth-child(5) {
    transform:rotateY(180deg) translateZ(450px)
  }
    
  .caroussel-image img:nth-child(6) {
    transform:rotateY(225deg) translateZ(450px)
  }
    
  .caroussel-image img:nth-child(7) {
    transform:rotateY(270deg) translateZ(450px)
  }
    
  .caroussel-image img:nth-child(8) {
    transform:rotateY(315deg) translateZ(450px)
    }
  }

@media screen and (max-width: 465px) {
  .contenu_carou_auto{
    margin:2rem auto;
    width:280px;
    height:279px;
    perspective:8000px;
    overflow: hidden;
    }

  .caroussel-image img{
    width: 200px;
    height:266px;
    }
      
  .caroussel-image img {
  transform:translate3d(0,0,380px)
  }
      
  .caroussel-image img:nth-child(2) {
  transform:rotateY(45deg) translateZ(380px)
  }
      
  .caroussel-image img:nth-child(3) {
  transform:rotateY(90deg) translateZ(380px)
  }
    
  .caroussel-image img:nth-child(4) {
  transform:rotateY(135deg) translateZ(380px)
  }
    
  .caroussel-image img:nth-child(5) {
    transform:rotateY(180deg) translateZ(380px)
  }
    
  .caroussel-image img:nth-child(6) {
    transform:rotateY(225deg) translateZ(380px)
  }
    
  .caroussel-image img:nth-child(7) {
    transform:rotateY(270deg) translateZ(380px)
  }
    
  .caroussel-image img:nth-child(8) {
    transform:rotateY(315deg) translateZ(380px)
  }
}

$primaryTextColor: black;

* {
    font-family: 'Gothic A1', sans-serif;
    color: $primaryTextColor;
    margin: 10px;
}

h5 {
    color: $secondaryTextColor;
}

// Navbar //
   
    .nav-link {
        color: $primaryTextColor;
        font-size: 16px;
    }

.nav-link {
    color: $primaryTextColor;
    font-size: 16px;
}

.form-control {
    color: $primaryTextColor;
    font-size: 12px;
}

.login_logo {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: none;
}

.copyrights {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.copyrights p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: none;
    margin-bottom: none;
}

.social_media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.legal {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.space {
    margin: 10px;
}

@media screen and (max-width:768px) {
    .login_logo {
        display: flex;
        justify-content: flex-start;
    }

    .container-fluid .d-flex {
        max-width: 50%;
        height: auto;
    }

    .space {
        font-size: 12px;
    }

    .items {
        width: 30px;
    }
}



// Page about //
.afac974 {
    display: grid;
    grid-template-columns: 2fr 5fr;
    margin-top: none;
    font-size: 16px;
}

.presidente {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    font-size: 16px;
}

.title {
    display: flex;
    justify-content: center;
}

.hexagon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
}

@media screen and (max-width: 767px) {

    h5 {
        font-size: 14px;
    }

    .afac974,
    .presidente {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: none;
        font-size: 10px;
        // border: 2px solid black;
    }

    .hexagon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 150px;
    }

    .text {
        max-width: 80%;
    }

    .reverse {
        display: flex;
        flex-direction: column-reverse;
    }
}


@media screen and (min-width: 768px) and (max-width: 1199px) {

    .hexagon {
        width: 250px;
        height: 250px;
        align-items: center;
    }

    .afac974,
    .presidente {
        font-size: 12px;
    }
}




// Page gallery //

@media screen and (max-width: 767px) {

    .square {
        width: 300px;
        height: 350px;
        text-align: center;
    }

    .work-pictures {
        max-width: 250px;
        max-height: 250px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1199px) {

    .square {
        width: 300px;
        height: 350px;
        text-align: center;
    }

    .work-pictures {
        max-width: 280px;
        max-height: 280px;
    }

    figcaption {
        text-align: center;
        font-size: 15px;
    }
}

@media screen and (min-width: 1200px) {

    .square {
        width: 370px;
        height: 470px;
        text-align: center;
    }

    .work-pictures {
        max-width: 350px;
        max-height: 350px;
    }

    figcaption {
        text-align: center;
        font-size: 20px;
    }
}