@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@600&display=swap');

$primaryTextColor: black;
$secondaryTextColor: #8F0627;

@import "~bootswatch/dist/spacelab/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/spacelab/bootswatch";

* {
    font-family: 'Gothic A1', sans-serif;
    color: $primaryTextColor;
    margin: 10px;
}

h5 {
    color: $secondaryTextColor;
}

// Navbar //

.nav-link {
    color: $primaryTextColor;
    font-size: 16px;
}

.form-control {
    color: $primaryTextColor;
    font-size: 12px;
}

.login_logo {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: none;
}

.copyrights {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.copyrights p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: none;
    margin-bottom: none;
}

.social_media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.legal {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.space {
    margin: 10px;
}

@media screen and (max-width:768px) {
    .login_logo {
        display: flex;
        justify-content: flex-start;
    }

    .container-fluid .d-flex {
        max-width: 50%;
        height: auto;
    }

    .space {
        font-size: 12px;
    }

    .items {
        width: 30px;
    }
}



// Page about //
.afac974 {
    display: grid;
    grid-template-columns: 2fr 5fr;
    margin-top: none;
    font-size: 16px;
}

.presidente {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    font-size: 16px;
}

.title {
    display: flex;
    justify-content: center;
}

.hexagon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
}

@media screen and (max-width: 767px) {

    h5 {
        font-size: 14px;
    }

    .afac974,
    .presidente {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: none;
        font-size: 10px;
        // border: 2px solid black;
    }

    .hexagon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 150px;
    }

    .text {
        max-width: 80%;
    }

    .reverse {
        display: flex;
        flex-direction: column-reverse;
    }
}


@media screen and (min-width: 768px) and (max-width: 1199px) {

    .hexagon {
        width: 250px;
        height: 250px;
        align-items: center;
    }

    .afac974,
    .presidente {
        font-size: 12px;
    }
}




// Page gallery //

@media screen and (max-width: 767px) {

    .square {
        width: 300px;
        height: 350px;
        text-align: center;
    }

    .work-pictures {
        max-width: 250px;
        max-height: 250px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1199px) {

    .square {
        width: 300px;
        height: 350px;
        text-align: center;
    }

    .work-pictures {
        max-width: 280px;
        max-height: 280px;
    }

    figcaption {
        text-align: center;
        font-size: 15px;
    }
}

@media screen and (min-width: 1200px) {

    .square {
        width: 370px;
        height: 470px;
        text-align: center;
    }

    .work-pictures {
        max-width: 350px;
        max-height: 350px;
    }

    figcaption {
        text-align: center;
        font-size: 20px;
    }
}