<form method="post" action="{{ path('app_technique_delete', {'id': technique.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ technique.id) }}">
    <button class="btn">Delete</button>
</form>
