{{ form_start(form) }}
<div class="searchBar">
	<div class="search">
		{{ form_widget(form.search, {'full_name':'search'}) }}
	</div>
	<div class="">
		<button type="submit" class="btn2 btn-secondary"><img src="{{ asset('build/images/icon_search.cc0a4eac.png') }}" alt="logo" class="nav-link" width="20"></button>
	</div>
</div>
{{ form_end(form) }}
