{% extends 'base.html.twig' %}

{% block title %}Work index
{% endblock %}

{% block body %}
	<h1>Work index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>PublishedAt</th>
				<th>Description</th>
				<th>Reference</th>
				<th>Format</th>
				<th>Picture</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for work in works %}
				<tr>
					<td>{{ work.picture }}</td>
					<td>
						<a href="{{ path('app_work_show', {'id': work.id}) }}">show</a>
						<a href="{{ path('app_work_edit', {'id': work.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="8">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_work_new') }}">Create new</a>
{% endblock %}
